@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* HEADER SECTION */
header {
    background-color: #1f2937;
    padding: 0 10%;
}
header .top-header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}
a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
    padding: 7px 0;
}
.bottom-header {
    display: flex;
    justify-content: space-between;
    padding: 55px 0;
    gap: 20px;
    flex-wrap: wrap;
}
.hero {
    max-width: 450px;
}

h1.title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;
}
.hero p {
    color: #e5e7eb;
    font-size: 18px;
    max-width: 480px;
    margin: 0 0 12px 0;
}
.hero button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
}
.image-placeholder {
    flex-shrink: 0;
    width: 335px;
    height: 170px;
    background-image: url('/assets/web-design-g19e4f336e_640.jpg');
    background-size: cover;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);
}

/* INFORMATION SECTION */
#infos {
    padding: 30px 0;
}
#infos h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    padding: 0 0 30px 0;
}
.illustrations {
    padding: 0 16px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.illustrations .item-image {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}
.illustrations .item-description {
    text-align: center;
    width: 150px;
    margin: 10px 0 0 0;
}
